*{
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}

a:active, button:active {
  background-color: none;
  color: none; /* Optional active state style */
}

.cent-d{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-overlay {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: 2rem; 
  cursor: grab;
  min-width: 333px ;
}

.page{
  overflow-x: hidden;
  max-width: 1700px;
}

body{
  background-color:#f1f1f1;
}

main{
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  overflow: hidden;
  min-width: 333px;
  box-sizing: border-box; /* Better sizing control */
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  object-fit: cover;
 
}

.image2 {
  position: absolute;
  top: 0;
  left: 25%;
  width: 25%;
  height: 100%;
  object-fit: cover;
  
}

.image3 {
  position: absolute;
  top: 0;
  left: 47%;
  width: 30%;
  height: 100%;
  object-fit: cover;
  
}

.image4 {
  position: absolute;
  top: 0;
  left: 75%;
  width: 25%;
  height: 100%;
  object-fit: cover;
  
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 4;
}

.image{
  filter: brightness(50%);
}

.overlay-text h1 {
  font-size: 4vw;
  font-weight: bolder;
  margin-bottom: 20px;
}

.overlay-text p {
  font-size: 18px;
  margin-bottom: 40px;
}

.overlay-btn {
  background-color:rgb(64, 64, 170);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overlay-btn:hover {
  background-color:rgb(132, 132, 212);
}

span{
  color: orange;
  
}

.about-heading-one{
 padding-top: 1rem;
}

.about-heading-one,.about-heading-two,.get-in-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}





.about-heading-one h1::before {
  left: 0;
}

.about-heading-one h1::after {
  right: 0;
}


.about-heading-two h1::before {
  left: 0;
}

.about-heading-two h1::after {
  right: 0;
}



.get-in-heading h1::before {
  left: 0;
}

.get-in-heading h1::after {
  right: 0;
}

.about-heading-one h1::before,
.about-heading-one h1::after {
  content: "";
  position: absolute;
 top: 50%;
  transform: translateY(-50%);
  width: 20%;
  border-top: solid 1px rgb(175, 175, 224);
}

.about-heading-two h1::before,
.about-heading-two h1::after {
  content: "";
  position: absolute;
 top: 50%;
  transform: translateY(-50%);
  width: 30%;
  border-top: solid 1px rgb(175, 175, 224);
}

.get-in-heading h1::before,
.get-in-heading h1::after {
  content: "";
  position: absolute;
 top: 50%;
  transform: translateY(-50%);
  width: 30%;
  border-top: solid 1px rgb(175, 175, 224);
}

.get-in-heading h1::before {
  left: 0;
}

.get-in-heading h1::after {
  right: 0;
}




.about-info-content ul{
  margin-left: 3rem;
}

.about-heading-one h1,.about-heading-two h1,.get-in-heading h1{
  font-size: 25px;
}
.about-one{
  display: flex;
  flex: 1;
  padding-right: 2rem;
}

.team{
  margin-top: 2rem;
}

.team h2,.mission h2,.vission h2{
  margin-bottom: 0.5rem;
  font-size: 17px;
}

.about-one-left{
  margin-left: 2rem;
 
}

.vission{
  margin-top: 2rem;
}

.about-heading-two{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.all-division-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.about-two{
  display: flex;
  align-items: flex-start;
 
}

.division-image{
  width: 25%;
  margin-right: 10px;
}

.divisions-img{
  width: 100%;
}

.division-content ul{
  margin-left: 1rem;
}

.division-content ul li{
  margin-bottom: 5px;
}

.division-content h3{
 margin-bottom: 1rem;
}

.get-in-heading{
  margin-top: 3rem;
  margin-bottom: 2rem;
}


.request-quote{
  min-width: 300px;
}
.request-quote button{
  width: 100%;
  height: 5rem;
  background-color: rgb(83, 83, 223);
  color: white;
  font-size: 25px;
  border: none;
  transition: 0.5s;
  margin-bottom: 3rem;
  font-weight: bolder;
  padding: 0;
}



.request-quote button:hover{
  width: 100%;
  transform: scale(0.9); /* adjust zoom level here */
  cursor: pointer;
}

.request-quote{
  padding-bottom: 2rem;
  border-bottom: solid 1px rgb(175, 175, 224);
}

.top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(37, 37, 128);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: none; /* Hide initially */
  z-index: 1000;
  font-size: 10px;
}

@media (min-width: 1200px) {
  main, .header {
    margin-left: calc(30% - 300px); /* Increase margin-left when width exceeds 800px */
    margin-right: calc(30% - 300px); /* Increase margin-right when width exceeds 800px */
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .about-one{
    display: grid;
   grid-template-columns: 1fr 1fr;
    padding-right: 2rem;
  }

  .all-division-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .a-t{
    margin-bottom: 20px;
  }

  .overlay-text p {
    font-size: 17px;
  }

  .division-content h3{
    font-size: 16px;
    }

  
}


@media  (max-width: 699px) {
  .about-one{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
  }

  .all-division-content{
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-two{
    margin-bottom: 2rem;
   
  }

  main{
    overflow-x: hidden;
  }

  .page{
    min-width: 333px;
  }

  .request-quote button{
    font-size: 17px;
    width: 100%;
    
  }
  .about-heading-one h1,.about-heading-two h1,.get-in-heading h1{
    font-size: 17px;
  }

  .team h2,.mission h2,.vission h2{
    margin-bottom: 0.5rem;
    font-size: 15px;
  }
  .division-content h3{
    margin-bottom: 1rem;
   }
   main{
    margin-left: 0;
    margin-right: 0;
  }

.division-content h3{
 font-size: 15px;
 }

 .division-content ul li p{
  font-size: 15px;
 }

 .mission{
  margin-top: 1.5rem;
}

.get-in-heading h1::before,
.get-in-heading h1::after {
  width: 20%;
}

.about-heading-one h1::before,
.about-heading-one h1::after {
  display: none;
}

.about-heading-two h1::before,
.about-heading-two h1::after {
  width: 20%;
}

.overlay-text h1 {
  font-size: 6vw;
}

.overlay-text p {
  font-size: 12px;
}
}