.contact-image-div{
  position: relative;
}

.contact-text{
  position: absolute;
  top: 30px;
  left: 29rem;
  color: white;
  font-size: 35px;
  font-size: bold;
  
}

.contact-wrapper{
  width: 100%;
}

.page{
  min-width: 333px;
}

.map{
  margin-top: 2rem;
}

.get-in-touch{
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: solid 1px rgb(175, 175, 224);
  padding-bottom: 3rem;
}

.contact-form {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 40px;
}

.contact-f{
  flex: 2;
  margin-right: 2rem;
}

.contact-f h2{
  font-size: 17px;
  margin-bottom: 4px;
  margin-bottom: 1rem;
  color: rgb(53, 51, 51);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.text-area {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.footer-div{
  flex: 2;
  padding-left: 3rem;
}
.footer-div h1{
  font-size: 17px;
  margin-bottom: 4px;
  margin-bottom: 1rem;
  color: rgb(53, 51, 51);
  
}

.footer-div a{
  text-decoration: none;
  color: gray;
}
.footer-div a:hover{
  color: #1f14bd;
}

.quick-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quick-heading{
  flex: 2;
}

.location, .contact-info, .get-in-touch {
  margin-bottom: 20px;
}

h3 {
  font-size: 17px;
  margin-bottom: 4px;
  margin-bottom: 1rem;
  color: rgb(53, 51, 51);
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.get-touch p {
  font-size: 14px;
  color: #666;
}

@media (min-width: 700px) and (max-width: 1000px) {
 .get-in-touch{
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .footer-div{
  display: none;
 }

  
}


@media  (max-width: 699px) {
  .get-in-touch{
    display: grid;
    grid-template-columns: 1fr;
   }
   .footer-div{
    display: none;
   }

  .quick-heading{
    grid-area: 1 / 1;
    margin-bottom: 1rem;
  }

}


