.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(117, 126, 206);
  width: 250px;
  z-index: 2000;
 display: none;  
}

a, button {
  outline: none; /* Remove the default focus outline */
}

.sidebar-link {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  padding-left: 20px;
}

.sidebar-link a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.sidebar-link:hover {
  background-color: none;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}
.close-menu-image{
  padding: 10px;
  background-color: black;
}
.close-menu{
  margin: 0;
}

.sidebar-link ul li a{
 font-size: 14px;
 color: blue;
 background-color: none;
 text-decoration: underline;
}


.dropdown-menus {
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 19px;
  left: 5px;
  padding: 10px;
  list-style-type: none;
  background-color: rgba(194, 192, 192, 0.719);

}
