.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 2rem;
  background-color:#1c148d;
  width: 250px;
  z-index: 2000;
 display: none;  
}

a, button {
  outline: none; /* Remove the default focus outline */
}

.sidebar-link {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  padding-left: 20px;
}

.sidebar-link a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.sidebar-link:hover {
  background-color: none;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}
.close-menu-image{
  padding: 10px;
  background-color: rgb(15, 43, 95);
}
.close-menu{
  margin: 0;
}

.dropdown-menus  li a{
 font-size: 14px;
 color: white;
 background-color: none;
 text-decoration: none;
font-weight: bold;
 
}

.dropdown-menus  li{
  margin-bottom: 5px;
}


.dropdown-menus {
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 175px;
  left: 43%;
  padding: 10px;
  position: absolute;
  list-style-type: none;


}

.services-link-container{
  display: flex;

}

.carret-img{
  width: 80%;
  height: 1dvh;
}

.carret{
  margin-left: 5px;
  margin-top: -1px;
}
